@media (min-width: 768px) {
  .cont {
    padding: 0 30px;
  }
}

@media (max-width: 768px) {
  .row {
    margin: 0;
  }
}

td, th {
  text-align: right;
}

.graticule {
  fill: none;
  stroke: #000;
}

.graticule.major {
  opacity: 0.3;
}

.graticule.minor {
  opacity: 0.1;
}

text {
  font-family: Helvetica;
  font-size: 12px;
}

.ticks text {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
}

.svg-container svg {
  display: block;
  margin: 0 auto;
}

.satellite.invisible {
  opacity: 0;
}

table.dop td, table.dop th {
  text-align: center;
}
