@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Code Pro"), url("../../fonts/SourceCodePro/SourceCodePro-Regular.otf.woff") format("woff");
}

@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: bold;
  src: local("Source Code Pro"), url("../../fonts/SourceCodePro/SourceCodePro-Bold.otf.woff") format("woff");
}
