
@import 'fonts.scss';

input[type='text'],
input[type='number'],
input[type='url'],
input[type='datetime'],
textarea {
  font-size: 16px;
}

.row {
  margin-bottom: 1em;
}

// .row:nth-of-type(n+2) {
//   max-width: 800px;
//   margin: 0 auto;
// }

input, input.form-control {
  box-shadow: none;
}

.btn, .form-control {
  padding: 6px 6px;
}

td, th {
  text-align: right;
  font-family: Source Code Pro, monospace;
}

@media screen and (max-width: 400px) {

  th {
    text-align: center;
  }

}

form.settings {

  .alert {
    padding: 10px;
  }

  .row {
    padding: 0 15px;
  }

  .row > div {

    label {
      width: 100%;
      text-align: center;
    }

    padding: 0;
  }

  .row.coordinates > div input {
    border-radius: 0;
  }

  .row.coordinates > div:first-of-type input {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: none;
  }

  .row.coordinates > div:last-of-type input {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-left: none;
  }

  div.inactive {

    span, button {
      width: 100%;
    }

    span.input-group-btn button {
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
    }

    input {
      width: 0;
      display: none;
    }

  }

}

span.degrees::after {
  content: '°';
}

span.kilometre::after {
  content: ' km';
}

td.prn::before {
  content: '● ';
}

.healthy td.prn::before {
  color: #00cc00;
}

.unhealthy td.prn::before {
  color: #ff3300;
}

td.inc.elevation::after {
  content: ' ⬆︎';
  color: #00cc00;
}

td.elevation::after {
  content: ' ⬇︎';
  color: #ff3300;
}

@media screen and (min-width: 330px) {

  td.inc.range::after  {
    content: ' +';
  }

  td.range::after  {
    content: ' -';
  }

  td.inc.azimuth::after {
    content: ' ←';
  }

  td.azimuth::after {
    content: ' →';
  }

}

table.satellite-list {
  margin: 0 auto;
}

table.dop {
  margin: 0 auto;
}

// form.settings {
//   max-width: 19em;
//   margin: 0 auto;
// }

tr.visible {

}

tr.invisible {
  background: #eee;
  color: #666;
  visibility: visible;
}

table.dop td, table.dop th {
  text-align: center;
}

@import 'svg.scss';
