{
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "fetch": true
  },
  "rules": {
    "strict": 0,
    "quotes": "single",
    "new-cap": false,
    "no-use-before-define": false,
    "no-undef": false,
    "space-infix-ops": false
  },
  "ecmaFeatures": {
    "modules": true
  }
}
